body {
    background-color: #2C3C1C;

    
}
#bemvindo {
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.muiddo {
    margin: 0px;
}

h4{
    color: white;
    font-size: 20px;
}

#botao0 {
    padding: 10px;
    text-decoration: none;
    margin-left: 430px;
    width: 180px;
    height: 56px;
    font-size: 22px;
    background-color: white;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


#botao1 {
    padding: 10px;
    text-decoration: none;
    margin-left: 300px;
    width: 180px;
    height: 56px;
    font-size: 22px;
    background-color: white;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#a1{
    color: #2C3C1C;
    text-decoration: none;
}

#botao2 {
    padding: 10px;
    text-decoration: none;
    margin-right: 430px ;
    width: 180px;
    height: 56px;
    font-size: 22px;
    background-color: #2C3C1C;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#botao3 {
    padding: 10px;
    text-decoration: none;
    margin-right: 300px ;
    width: 300px;
    height: 56px;
    font-size: 22px;
    background-color: #2C3C1C;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.botoes-login {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.botoes-pre-login {
    display: flex;
    justify-content: space-between;
}

#a2 {
    color: white;
    text-decoration: none;
}

#a3 {
    color: white;
    text-decoration: none;
}

.forms-log{
    display: grid;
    justify-content: center;
}

#password {
    width: 750px;
    height: 30px;
    border-radius: 7px;
    background-color:#2C3C1C;
}

#email {
    width: 750px;
    height: 30px;
    border-radius: 7px;
    background-color: #2C3C1C;
}

#name {
    width: 750px;
    height: 30px;
    border-radius: 7px;
    background-color: #2C3C1C;
}

#cpf {
    width: 750px;
    height: 30px;
    border-radius: 7px;
    background-color: #2C3C1C;
}

#phone {
    width: 750px;
    height: 30px;
    border-radius: 7px;
    background-color: #2C3C1C;
}

.label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
}