.hero{
  background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);
  width: 1351px;
  height: 194px;
}

.firstP {
  font-size: 24px;
}

.exampleimages {
  display: flex;
  justify-content: center;
}

.images {
  align-items: center;
  padding: 12px;
  gap: 20px;
  width: 340px;
  height: 340px;
  border-radius: 20px;
}

.secP {
  font-size: 22px;
}

.backgreen {
  background-color: #536340;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.adjetivos {
  display: grid;
  padding: 12px;
  border: solid;
  border-color: antiquewhite;
  border-width: 0.5px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.images-nossas {
  display: flex;
}

.img-nossa-missão {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  margin-top: 10px;
  width: 450px;
  height: 450px;
  margin-left: 150px;
}

.backgreen-white {
  background-color: #ABB99A;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.adjetivos-parcerias {
  display: grid;
  padding: 27px;
  border: solid;
  border-color: rgb(0, 0, 0);
  border-width: 0.5px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.mb-partner {
  margin-top: 30px;
}


.nossa-geral {
display: flex;
gap: 140px;
justify-content: center;
margin-bottom: 20px;
}

.nossa-text {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr, 1fr;
}

.text-nosso {
  text-align: center;
  font-size: 18px;
}