<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Artista</title>
    <link rel="stylesheet" href="../static/css/prelogin.css">
</head>

<body>

    <img class="muiddo" src="../static/assets/muiddo.png" alt="">

    <h1 id="bemvindo">
        <center>Bem-vindo à Muiddo Arts</center>
    </h1>
    <h4>
        <center>Insira seus dados para criar sua conta</center>
    </h4>

    <form action="{{ url_for('main.register_artist') }}" method="POST">
        <section class="formulario-login">
            <div class="forms-log">
                <label class="label" for="email">Digite seu E-Mail: </label>
                <input id="email" name="email" type="email" required placeholder="Ex.: abc@gmail.com"><br>

                <label class="label" for="name">Digite seu nome: </label>
                <input id="name" name="name" type="text" required placeholder="Ex.: João de Sá"><br>

                <label class="label" for="password">Digite sua senha: </label>
                <input id="password" name="password" type="password" required placeholder="Ex.: 123456"><br>

                <label class="label" for="cpf">Digite seu CPF/CNPJ: </label>
                <input id="cpf" name="cpf" type="text" required placeholder="Ex.: 000.000.000-00 ou 00.000.000/0001-00"><br>

                <label class="label" for="name">Digite o nome de usuário: </label>
                <input id="name" name="user" type="text" required placeholder="Ex.: Jp123">
            </div>

        </section>
        <section>
            <div class="botoes-login">
                <label for="botao1">
                    <button id="botao1" name="botao1" type="submit">Cadastrar</a></button>
                </label>
            </div>
        </section>
    </form>
</body>

</html>