<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seja Bem-Vindo</title>
    <link rel="stylesheet" href="../static/css/prelogin.css">
</head>

<body>

    <img class="muiddo" src="../static/assets/muiddo.png" alt="">

    <h1 id="bemvindo">
        <center>Seja Bem-vindo à Muiddo Arts</center>
    </h1>
    <h4>
        <center>Insira seus dados para entrar</center>
    </h4>
    <br>

    <form action="{{ url_for('main.login_artist')}}" method="POST">
        <section class="formulario-login">
            <div class="forms-log">
                <label class="label" for="email">Digite seu E-Mail: </label><br>
                <input id="email" name="email" type="email" required placeholder="Ex.: abc@gmail.com"><br>

                <label class="label" for="password">Digite sua senha: </label><br>
                <input id="password" name="password" type="password" required placeholder="Ex.: 123456">
            </div>

        </section>
        <section>
            <div class="botoes-login">
                <label for="botao1">
                    <button id="botao1" name="botao1" type="submit"><a id="a1" href="{{ url_for('main.home') }}">Entrar</a></button>
                </label>

                <label for="botao3">
                    <button id="botao3" name="botao3" type="submit"><a id="a3"
                            href="{{ url_for('main.register_artist')}}">Ainda não tenho uma conta</a></button>
                </label>
            </div>
        </section>
    </form>
</body>

</html>