<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo de volta</title>
    <link rel="stylesheet" href="../static/css/prelogin.css">
</head>
<body>

    <img src="muiddo.png" alt="">

    <h1 id="bemvindo"><center>Bem-vindo de volta</center></h1>
    <h4><center>Você é artista ou cliente?</center></h4>

    <section>

    <label for="botao1">
    <button id="botao1" type="submit"><a id="a1" href="">Cliente</a></button>
    </label>

    <label for="botao2">
    <button id="botao2" type="submit"><a id="a2" href="">Artista</a></button>
    </label>

    </section>
</body>
</html>