<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo de volta</title>
    <link rel="stylesheet" href="../static/css/prelogin.css">
</head>

<body>

    <img class="muiddo" src="../static/assets/muiddo.png" alt="">

    <h1 id="bemvindo">
        <center>Bem-vindo de volta</center>
    </h1>
    <h4>
        <center>Você é artista ou cliente?</center>
    </h4><br>
    <br>
    <br>
    <section>
        <br>
        <div class="botoes-pre-login">
            <label for="botao0">
                <button id="botao0" name="botao0" type="submit"><a id="a1"
                        href="{{ url_for('main.login_client') }}">Cliente</a></button>
            </label>

            <label for="botao2">
                <button id="botao2" name="botao2" type="submit"><a id="a2"
                        href="{{ url_for('main.login_artist') }}">Artista</a></button>
            </label>
        </div>
    </section>
</body>

</html>